<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ImmutableObjectGraph" version="1.0.15192-beta7" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6070" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.11.0" version="11.0.50727" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.14.0" version="14.0.23205" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6071" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6070" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Validation" version="14.0.50617-pre" targetFramework="net452" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="net452" />
  <package id="Validation" version="2.0.5.14286" targetFramework="net452" />
  <package id="xunit" version="2.1.0-beta3-build3029" targetFramework="net452" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net452" />
  <package id="xunit.assert" version="2.1.0-beta3-build3029" targetFramework="net452" />
  <package id="xunit.core" version="2.1.0-beta3-build3029" targetFramework="net452" />
  <package id="xunit.extensibility.core" version="2.1.0-beta3-build3029" targetFramework="net452" />
</packages>